node_modules
npm-debug.log
.vscode
.scannerwork/
.scannerlint/
.sonarlint/
tests
.editorconfig
.env.example
.gitignore
.travis.yml
appveyor.yml
icon.png
LICENSE
README.md
logs
.cache
coverage
logs
test-report.xml
